{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    {% with total_likes=article.users_like.count users_like=article.users_like.all %}
        <div class="text-center">
            <h1>{{ article.title }}</h1>
            <h6>文章所在栏目:{{ article.column }}</h6>
        </div>
        <div class="text-center">
            <h4 class="list-group-item-text">作者：<a
                    href="{% url 'article:author_articles' article.author.username %}">{{ article.author.username }}</a>
            </h4>
        </div>
        <div class="like_or_not text-center">
            {% if not user in users_like %}
                <a href="#" onclick="like_article({{ article.id }},'like')"><span
                        class="glyphicon glyphicon-thumbs-up"
                        id="like">{{ total_likes }} like{{ total_likes|pluralize }}</span></a>
            {% else %}
                <a href="#" onclick="like_article({{ article.id }},'unlike')"><span
                        class="glyphicon glyphicon-thumbs-down"
                        id="unlike">{{ total_likes }} unlike{{ total_likes|pluralize }}</span></a>
            {% endif %}
        </div>
        <div id="test-editormd-view2">
            <textarea id="append-test" style="display:none;">{{ article.body }}</textarea>
        </div>
        <div class="text-center">
            <p><strong>点赞本文的读者有：</strong></p>
            {% for user in article.users_like.all %}
                <p>{{ user.username }}</p>
            {% empty %}
                <p>还没有人对此文表态</p>
            {% endfor %}
        </div>
    {% endwith %}
{% endblock %}

{% block javascript %}
    <script src="{% static 'editor/lib/marked.min.js' %}"></script>
    <script src="{% static 'editor/lib/prettify.min.js' %}"></script>
    <script src="{% static 'editor/lib/raphael.min.js' %}"></script>
    <script src="{% static 'editor/lib/underscore.min.js' %}"></script>
    <script src="{% static 'editor/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'editor/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'editor/lib/jquery.flowchart.min.js' %}"></script>
    <script src="{% static 'editor/editormd.js' %}"></script>

    <script src="{% static 'js/layer.js' %}"></script>
    <script>
        $(function () {
            var testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
                htmlDecode: "style,script,iframe",  // you can filter tags decode
                emoji: true,
                taskList: true,
                tex: true,  // 默认不解析
                flowChart: true,  // 默认不解析
                sequenceDiagram: true,  // 默认不解析
            });

        });

        function like_article(article_id, like) {
            $.ajax({
                url:"{% url 'article:like_article' %}",
                type:"POST",
                data:{"id":article_id,"action":like},
                success: function (e) {
                    if(e=="1"){
                        layer.msg("感谢点赞！");
                        window.location.reload();
                    }
                    else{
                        layer.msg("点赞已取消");
                        window.location.reload();
                    }
                },
            });
        }
    </script>
{% endblock %}