{% extends 'base.html' %}

{% block title %}登录{% endblock %}

{% block content %}

    <div class="jumbotron text-center">
        <h1>登录</h1>
        <form class="form-horizontal" action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary btn-lg" value="登录">
        </form>
    <p style="margin-top: 10px;">Forget your password?<a href="{% url 'pwd_reset:password_reset_recover' %}">reset password</a></p>
    <p style="margin-top: 10px;">If you had not a username,<a href="{% url 'account:user_register' %}">Register to be a user</a>,please</p>
    </div>

{% endblock %}