{% extends 'article/base.html' %}

{% load staticfiles %}

{% block title %}{{ article.title }}{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'editor/css/editormd.preview.css' %}"/>
{% endblock %}

{% block content %}
<div class="text-center">
    <h1>{{ article.title }}</h1>
    <h6>文章所在栏目：{{ article.column }}</h6>
</div>
    <div class="text-center">
        <h4>{{ user.username }}</h4>
    </div>
    <div id="test-editormd-view2">
        <textarea id="append-test" style="display:none;">{{ article.body }}</textarea>
    </div>
{% endblock %}

{% block javascript %}
<script src="{% static 'editor/lib/marked.min.js' %}"></script>
<script src="{% static 'editor/lib/prettify.min.js' %}"></script>
<script src="{% static 'editor/lib/raphael.min.js' %}"></script>
<script src="{% static 'editor/lib/underscore.min.js' %}"></script>
<script src="{% static 'editor/lib/sequence-diagram.min.js' %}"></script>
<script src="{% static 'editor/lib/flowchart.min.js' %}"></script>
<script src="{% static 'editor/lib/jquery.flowchart.min.js' %}"></script>
<script src="{% static 'editor/editormd.js' %}"></script>
    <script>
        $(function () {
             var testEditormdView2 = editormd.markdownToHTML("test-editormd-view2", {
                    htmlDecode      : "style,script,iframe",  // you can filter tags decode
                    emoji           : true,
                    taskList        : true,
                    tex             : true,  // 默认不解析
                    flowChart       : true,  // 默认不解析
                    sequenceDiagram : true,  // 默认不解析
                });

        });
    </script>
{% endblock %}